div {
    font-family: 'Fira Sans', sans-serif;
}

P {
   text-indent: 0px; /* Отступ первой строки */
   text-align: justify; /* Выравнивание по ширине */
  }

#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
}
#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}

.bg-im {
  margin-left: 0px;
  margin-right: 0px;
}

.first-img {
  background-image: url(images/window1.jpg);
  padding: 0px;
  height: 920px;
  margin-left: 0px;
  margin-right: 0px;
}

.second-img {
  background-image: url(images/window5.jpg);
  height: 500px;
}

.third-img {
  background-image: url(images/window7.jpg);
  height: 500px;
}

.call-text{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 130%;

}

.line {
  margin: 50px;
  padding: 0px;
  height: auto;
  border: 5px solid blue;
}

.line-elem {
  /* background-color: red; */
  padding: 10px;
  height: 380px;
  border: 3px dashed blue;


}

.line-border {
  margin: 50px;
}



.room-quantity{
  font-size: 700%;
}
.room {
  font-size: 200%;
}
.price{
  font-size: 200%;
}
.head-wrap {
  margin-top: 50px;
}

.button-call {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-call-inline {
  margin-top: 20px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.end-button-call-inline{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.second-line {
  background-color: #e6e6e6;
  padding: 0px;
  height: auto;
}

h1.window-cleaning {
  margin-top: 20px;
}

ul.window-cleaning li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;

}

.third-line {
  background-color: azure;
  padding: 0px;
  height: auto;
}

.fourth-line {
  background-color: #e6e6e6;
}

.end-button-call{
  border: 2px solid;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.end-span-button{
  font-size: 2rem;
}

div.window-miracle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;

}

#page-wrap {
    position: relative;
    z-index: 2;
    width: 600px;
    /* margin-top: : 50px;  */
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black; }
p {
    font: 45px;
    margin: 0 0 30px 0;
    /* text-indent: 40px; */

}
